.box_tP{
    background-color: #004d40 !important
}

.ti_text{
    color: white !important;
    font-weight: bold !important;
    margin-top: 2px !important;
    font-size: 15px !important;
 }

 .ti_text2{
    color: white !important;
    font-weight: bold !important;
    text-align:center !important;
 }

 .ti_text3{
    color: white !important;
    text-align: justify !important;
 }