.imagem2{
    background-image: url(https://imgur.com/sGVkONj.jpg);
    background-repeat: no-repeat;
    width: 100vh;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
}

.button1{
    margin-right: 45px !important;
    color: white !important;
    background-color: #ff7b00 !important;
    font-weight: bold !important;
}

.buttton2{
    color: white !important;
    background-color: #00352c !important;
    font-weight: bold !important;
}

.button-cancel {
    margin-right: 20px!important;
}

.button-submit {
    text-decoration: none!important;
    background-color: #727070!important;
}