.caixa{
    background-color: #00352c;
}

.text-decorator-none{
    text-decoration: none !important;
}

.titulo1{
    color: white !important;
    font-weight: bold !important;
}

.titulo2{
    color: white !important;
}

.botao{
    border-color: white !important;
    background-color:#00352c;
    color: white !important;
}

.postagens{
    background-color:#00352c;
}