.box1{
    background-color: #004d40;
    height: 85px;
}

.box2{
    background-color: #00352c;
    height: 60px;
}

.rede1{
    font-size: 32px !important; 
    color: white; 
}

.rede2{
    font-size: 25px !important; 
    color: white; 
}

.texto1{
    color: white;
    margin-top: 2px !important;
    font-size: 19px !important;
}

.texto2{
    color: white;
    margin-top: 5px !important;
    line-height: 1.1 !important;
}

.text-decorator-none{
    text-decoration: none;
}